.tournamentDetail {
    position: relative;

    .header {
        overflow: hidden;
    }

    .roundBtn {
        margin-top: 30px;
    }

    ul.matches {
        padding: 0;

        li {
            display: block;
            border: 1px solid #C9C9C9;
            margin-top: 15px;
            text-align: center;
            padding: 15px;
            font-size: 17px;
            border-radius: 5px;

            &:hover {
                background-color: #F5F8FB;
                border-color: #CBDDEF;
                cursor: pointer;
            }

            a {
                color: #333;
            }
        }
    }

    h2 {
        display: block;
        text-align: center;
        margin-bottom: 25px;

        .round {
            color: #E86565;
            margin-top: 5px;
        }
    }

    .noPadding {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .tournamentDetail {
        h2 {
            font-size: 25px;
        }
        .roundBtn {
            display: inline-block;
            width: 20%;
            vertical-align: text-bottom;

            .roundText {
                display: none;
            }
        }
        .tournamentName {
            display: inline-block;
            width: 60%;
        }
    }
}