.root {
    padding: 20px;
}

:global {
    .bm-burger-button {
        position: relative;
        width: 30px;
        height: 25px;
        left: 20px;
        top: 20px;
    }
    .bm-burger-bars {
        background: #373a47;
    }

    .bm-cross {
        background: #bdc3c7;
    }

    .bm-menu {
        background: #373a47;
        padding: 2.5em 0;
        font-size: 1.15em;
    }

    .bm-morph-shape {
        fill: #373a47;
    }

    .bm-item-list {
        color: #b8b7ad;
        padding: 0.8em 0;
    }

     .bm-menu-wrap button {
         width: 30px !important;
         height: 30px !important;
         right: 5px !important;
         top: 6px !important;
     }
}