.match-detail {
    h2 {
        overflow: hidden;

        span.vs {
            float: left;
            display: block;
            font-size: 70%;
            text-align: center;
            width: 4%;
            line-height: 32px;
        }
    }

    .info {
        text-align: center;
        font-size: 18px;
        color: #9A9A9A;
        margin: 30px 0;
    }

    button {
        display: block;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    .scoreInput {
        height: 50px;
        line-height: 50px;
        width: 70px;
        font-size: 30px;
        text-align: center;
    }

    .setScore {
        margin: 30px 0;
        text-align: center;
        font-size: 25px;
        display: none;

        .name {
            display: inline-block;
            padding: 0 10px;
        }

        .separator {
            display: block;
            float: left;
            text-align: center;
            width: 4%;
            line-height: 50px;
        }

        button {
            display: inline-block;
            width: 49%;
            max-width: 330px;
            margin-top: 30px;
        }

        button:first-child {
            margin-right: 1%;
        }

        button:last-child {
            margin-left: 1%;
        }
    }

    .visible {
        display: block;
    }

    .hidden {
        display: none;
    }

    .error {
        width: 100%;
        max-width: 700px;
        font-size: 18px;
        margin: -15px auto 20px auto;
    }

    .score {
        text-align: center;
        font-size: 45px;

        .separator {
            padding: 0 15px;
        }
    }
}

.left {
    float: left;
    width: 48%;
    text-align: right;
}

.right {
    float: right;
    width: 48%;
    text-align: left;
}

.clear {
    clear: both;
}

.mobile {
    display: none;

    .row {
        margin-bottom: 10px;
    }

    span {
        display: inline-block;
        margin-right: 10px;
        width: 50%;
        word-break: break-word;
    }

    input {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .left,
    .right {
        width: 42%;
    }
    .match-detail h2 span.vs {
        width: 16%;
    }
}